.wwh-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wwh-main-title{
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.wwh-main-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wwh-btn{
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

.change-wwh-content{
    width: 1344px;
    height: 553px;
}