.contact-contaier{
    width: 100%;
    height: 100vh;
    background: url(../../../Assets/Background-Contact-Form.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}



.right-contact-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11%;
}

.contact-title{ 
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.first-line-form{
    display: flex;
}

.contact-label{
    font-weight: bold;
    color: #3C3C3C;
    font-size: 0.9rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name-input-div, .email-input-div, .textarea-input-div{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.error-message{
    font-size: 0.8rem;
    font-weight: 700;
    color: red;
}

.contact-form{
    border: none;
    background: none;
    border-bottom: 2px solid  #737373 ;
    padding: 5px;
    font-size: 1rem;
}

.contact-form-text{
    border: none;
    background: none;
    font-size: 1.3rem;
    border-bottom: 2px solid  #737373 ;
    height: 125px;
}

.submit-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.submit-btn{
    background: none;
    border: 2px solid #737373;
    font-size: 1.6rem;
    padding: 7px 23px;
    cursor: pointer;
}

.error-msg{
    color: red;
    font-size: 0.825rem;
    font-weight: bold;
}



//-------FOOTER------------

.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-p{
    margin-left: 42%;
    margin-top: 10px;
}

.footer-icon{
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-bottom: 10px;
}